.header__img img{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.menu__header {
  @include menu-header;
}
.arrow {
  position: absolute;
  left: 20px;
}
.menu__title {
  @include menu-title;
  @include desktop {
    padding: 10px 90px;
  }
}
.menu__title h2{
padding: 10px;

}
.meals {
  @include meals;
}
.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.last__line p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include desktop {
    padding-right: 20px;
  }
}
.last__line span {
  margin-right: 5px;
}
.meals h4 {
  margin: 0;
}
.starter h5, .dish h5, .dessert h5 {
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin: 0;
  padding: 5px 0px 10px 20px;
  font-weight: lighter;
}
@media screen and (max-width: 992px){
.dish h5, .dessert h5{
  padding-top: 35px;
}
}
.btn__order button {
  @include about-button;
  margin: 30px 0;
  padding: 20px;
  width: 50%;
  @include desktop {
    width: 25%;
  }
  &:hover {
    background-color: lighten(#9356dc, 12%);
    background-blend-mode: lighten;
    box-shadow: 1px 1px 6px #000;
  }
}
.btn__order {
  display: flex;
  justify-content: center;
}