.search {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
    
  }
  .search i{
 padding-right: 5px;   
  }

  .search__bar input{
    @include search;
  }
  input:focus::placeholder {
    color: transparent;
  }