.loader {
    background:-webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 3s forwards; 
  }
  
    .loader__food img{
      display: inline-block;
      width: 5px;
      height: 20px;
      padding-right: 1em;
      animation: rotate 1s linear infinite;
    }
  

 
